<h1>Discussions</h1>
<br />
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Message</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @discussions.each do |discussion| %>
      <tr>
        <td><%= discussion.user %></td>
        <td><%= discussion.title %></td>
        <td><%= discussion.message %></td>
        <td><%= discussion.date %></td>
        <td><%= link_to 'Show', discussion %></td>
        <td><%= link_to 'Edit', edit_discussion_path(discussion) %></td>
        <td><%= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discussion', new_discussion_path %>
