<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @discussion.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @discussion.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @discussion.message %>
</p>

<p>
  <strong>Date:</strong>
  <%= @discussion.date %>
</p>

<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
<%= link_to 'Destroy', @discussion, method: :delete, data: { confirm: 'Are you sure?' } %>

