<h1>Contacts</h1>
<hr>
<%= render 'form' %>

<hr>
<table id="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Last Contact</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Opened</th>
      <th>Response</th>
      <th>Notes</th>
      <th>Track</th>
      <th></th>
       <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.company %></td>
        <td><%= contact.lastContact %></td>
        <td><%= contact.firstName %></td>
        <td><%= contact.lastName %></td>
        <td><%= contact.email %></td>
        <td><%= contact.opened %></td>
        <td><%= contact.response %></td>
        <td><%= contact.notes %></td>
        <td><%= contact.track %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript">

    oTable = $('#table').dataTable();
    $('#contact_name').keyup(function(){
          oTable.fnFilter( $(this).val() );
    })

    $('#table')
      .removeClass( 'display' )
      .addClass('table table-striped table-bordered');

    $("#contact_lastContact").datepicker();
    
    
</script>

<%= link_to 'New Contact', new_contact_path %>
